.setimage {
  background-image: url("../../assets/images/greenlight.png");
  background-color: #17234E;
  color: #fff;
  margin-bottom: 0;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
