<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">

<table class="table  table-striped">
<thead>
<tr>
  <th>Account</th>
  <th>Vehicle Type</th>
  <th>Location</th>
  <th>Date FRS Notified</th>
  <th>Date Approved</th>
  <th>Estimated Time of Completion</th>
  <th>Status</th>
  <th>Supporting Documents</th>
  <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
</tr>
</thead>
<tbody>
</tbody>
</table>
</div>
</div>
</div>
