<div class="container">
  <div style="height: 50px;">

  </div>
   <div class="row" [@trailerPanel]="state">
      <div class="offset-sm-6 col-sm-5">
         <div class="panel panel-primary">
            <div class="panel-heading">Create a New Trailer</div>
            <div class="panel-body">
               <form [formGroup]="trailerForm" (ngSubmit)="saveTrailer($event)">
                  <div class="form-group">
                     <label for="unitnumber">Unit Number:</label>
                     <input formControlName="unitnumber" type="text" class="form-control" id="unitnumber">
                  </div>
                  <div class="form-group">
                     <label for="customer">Customer:</label>
                     <input formControlName="customer" type="text" class="form-control" id="customer">
                  </div>
                  <div class="form-group">
                     <label for="account">Account:</label>
                     <input formControlName="account" type="text" class="form-control" id="account">
                  </div>
                  <div class="form-group">
                     <label for="vehicletype">Vehicle Type:</label>
                     <input formControlName="vehicletype" type="text" class="form-control" id="vehicletype">
                  </div>
                  <div class="form-group">
                     <label for="location">Locations:</label>
                     <input formControlName="location" type="text" class="form-control" id="location">
                  </div>
                  <div class="form-group">
                    <label for="datersnotified">Date RS Notified:</label>
                    <ng2-datepicker [(ngModel)]="datersnotified" [options]="options" formControlName="datersnotified" id="datersnotified"></ng2-datepicker>
                  </div>
                  <div class="form-group">
                     <label for="estimatedtimeofcompletion">Est. Time of Completion:</label>
                     <ng2-datepicker [(ngModel)]="estimatedtimeofcompletion" [options]="options" formControlName="estimatedtimeofcompletion" id="estimatedtimeofcompletion"></ng2-datepicker>
                  </div>
                  <div class="form-group">
                     <label for="status1">Status 1:</label>
                    <app-status-drop-down id="status1" (statusUpdate)="updateStatus1($event, 'status1')"></app-status-drop-down>
                  </div>
                  <div class="form-group">
                     <label for="status2">Status 2:</label>
                    <select formControlName="status2" type="text" class="form-control" id="status2">
                      <option *ngFor="let status of status2Values;let i = index"
                              selected="{{status[4]}}">
                        {{ status[0] }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                     <label for="status3">Status 3:</label>
                    <select formControlName="status3" type="text" class="form-control" id="status3">
                      <option *ngFor="let status of status3Values;let i = index"
                              selected="{{status[4]}}">
                        {{ status[0] }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                     <label for="note">Note:</label>
                     <textarea formControlName="note" class="form-control" id="note"> </textarea>
                  </div>
                  <div class="form-group">
                     <label for="dateauthorized">Date Authorized:</label>
                     <ng2-datepicker [(ngModel)]="dateauthorized" [options]="options" formControlName="dateauthorized" id="dateauthorized"></ng2-datepicker>
                  </div>
                  <div class="form-group">
                     <label for="authorizedinitials">Authorized Initials:</label>
                     <input formControlName="authorizedinitials" type="text" class="form-control" id="authorizedinitials">
                  </div>
                  <button type="submit" class="btn btn-default">Save</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
