<div class="container">
  <div style="height: 50px;">
  </div>
  <div class="row">
    <div class="offset-sm-6 col-sm-5">
      <div class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-heading">Panel with panel-primary class</div>
          <div class="panel-body">
            <table class="table">
              <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Panel with panel-primary class</div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the
                  above input. It's a bit lighter and easily wraps to a new line.
                </small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Percentage Complete</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter Percentage Complete">
              </div>
              <div class="form-group">
                <label for="exampleTextarea">Description of Milestone</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
