<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://getbootstrap.com/examples/jumbotron/#">Trailer Tracker</a>
        </div>

        <div class="container">
                <form class="navbar-form navbar-right" role="search" [formGroup]="loginForm" (ngSubmit)="loginUser($event)">
                  <div class="form-group">
                    <input type="text" formControlName="username" placeholder="Email" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="password" placeholder="Password" class="form-control">
                  </div>
                  <button type="submit" style="width:80px;" class="btn btn-default">Log In!</button>
                  <div class="form-group">
                    <button type="submit" class="btn btn-default">Sign Up!</button>
                  </div>
              </form>
            </div>
      </div>
    </nav>
