<div class="container">
  <div style="height: 50px;">

  </div>
  <div class="row" [@userPanel]="state">
    <div class="offset-sm-6 col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-heading">Reset User's Password</div>
        <div class="panel-body">
          <form [formGroup]="resetUserPasswordForm" (ngSubmit)="saveUserPassword($event)">
            <div class="form-group">
              Unit Name:  {{ username }}
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input formControlName="password" class="form-control" id="password"/>
            </div>
            <div class="form-group">
              <label for="password_confirmation">Password Confirmation::</label>
              <input formControlName="password_confirmation" class="form-control" id="password_confirmation"/>
            </div>
            <button type="submit" class="btn btn-default">Change User's Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
